.cartIconWrapper {
    position: relative;
    display: inline-block;
    margin-right: 2rem;
    color:#66687f
}

.cartIconWrapper:hover {
    cursor: pointer;
    color:#8a8eac;
}

.cartIcon {
    font-size: 3rem;
}

.itemCount {
    position: absolute;
    right: 1.3rem;
    font-size: 1.4rem;
    font-weight: bold;
    width: 1rem;
    height: 1rem;
    color: #59E881;  
}
