.Navbar {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: center;
    background-color: #433E5A;
    color: #DDDAE8;
    padding:0.7rem 0rem;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 2rem;
    position: sticky;
}

.Navbar nav a {
    background-color: #433E5A;
    color: #DDDAE8;
    padding: 0rem 0.8rem;
    margin: 0rem 0.5rem;
    text-decoration: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    font-size: 1.6rem;
    font-weight: bold;
}

.Navbar nav a:hover {
    color:#b4acd4 ;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    margin-left: 1.5rem;
    color: #59E881;
    display: block;
}



            /*      MOBILE STYLES START HERE         */

.hamburgerIcon {
    display: none;
}


/*      MEDIA QUERIES START HERE         */

@media only screen and (max-width: 600px) {
    .hamburgerIcon {
        font-size: 2.5rem;
        display: block; 
        cursor: pointer;
        margin-left: 5rem;
       
    }

    .mobileNav {
        display: none;
    }

    .active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%; 
        text-align: center;
        margin-left: 12rem;
    }

    .Navbar nav a {
        background-color: #433E5A;
        color: #DDDAE8;
        padding: 0rem 3rem;
        margin: 0.1rem 0rem;
        text-decoration: none;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease;
        font-size: 1.8rem;
        font-weight: bold;
    } 
}

