.products {
    padding-top: 2rem;
}

.productList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
  }
  
.footer {
    background-color: #433E5A;
    color: #DDDAE8;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 5rem;
}


 