.productCard {
    height: 18rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
.productImage {
    height: 10rem;
    width: 10rem;
    padding: 1rem;  
}

.productTitle {
    max-width: 15rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.productPrice {
    display: flex;
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    justify-content: space-evenly;
}


@media only screen and (max-width: 600px) {
    .productCard {
        height: 16rem;
        width: 16rem;
        border: solid 0.2rem black;
        margin: 1.5rem;
    }

    .productImage {
        height: 8rem;
        width: 8rem;
        padding: 1rem;  
    }
}